**
!Dockerfile
!requirements.txt
!schedule_app.py
!SKEDTools.py
!SKEDTools_vex.py
!SKED_GUITool.py
!SKED_GUITool_vex.py
!schedule_io.py
!schedule_text.py
!schedule_validation.py
!astronomy_helpers.py
!iers_status.py
!drg_conversion.py
!xml_conversion.py
!antenna.sch
!vlbacoord.pickle
!vlbacalib_allfreq_full2023a_thresh.npy
!template/
!template/**
**/__pycache__/
**/.DS_Store

!calibrator_catalog.py
